<h4>Bigramme</h4>
<h5>Häufigste</h5>
{% for bigram in collection.bigrams_frequent %}
    <span class="searchable">{{ bigram }}</span>
    {% if not forloop.last %}
        ,
    {% endif %}
{% endfor %}
<h5>Pointwise Mutual Information</h5>
{% for bigram in collection.bigrams_pmi %}
    <span class="searchable">{{ bigram }}</span>
    {% if not forloop.last %}
        ,
    {% endif %}
{% endfor %}

<h4>Trigramme</h4>
<h5>Häufigste</h5>
{% for trigram in collection.trigrams_frequent %}
    <span class="searchable">{{ trigram }}</span>
    {% if not forloop.last %}
        ,
    {% endif %}
{% endfor %}
<h5>Pointwise Mutual Information</h5>
{% for trigram in collection.trigrams_pmi %}
    <span class="searchable">{{ trigram }}</span>
    {% if not forloop.last %}
        ,
    {% endif %}
{% endfor %}