
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Index</h1>
    <h2>Dokumente zu Sammlung hinzufügen</h2>
    {% if collection_list %}
        <table style="border:1px solid black">
        <tr><th>Name</th><th>Doks</th><th>Pfad</th></tr>
            {% for c in collection_list %}
                {% if c.documents.count is 0 %}
                    {{ c.add_docs_to_collection }}
                {% endif %}
                <tr>
                    <td>{{ c.title }}</td>
                    <td>{{ c.documents.count }}</td>
                    <td>{{ c.path }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Keine Sammlung verfügbar.</p>
        {% endif %}

    <h2>Dokumente durchsuchen</h2>
    <p>Hallo Welt</p>
    <div>
        <form action="{% url 'search_action' %}" method="get">
            <label for="search">Dokumente durchsuchen:</label>
            <input type="search" id="doc_search" name="doc_search">
            <input type="submit" />
        </form>
    </div>
    <div>
        <h3>Übersicht</h3>
        {% if document_list %}
        <ul>
            {% for doc in document_list %}
                <li><a href="{% url 'detail' doc.id %}">{{ doc.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Keine Dokumente verfügbar.</p>
        {% endif %}
    </div>
</body>
</html>


