{% extends "./basic_page.html" %}

{% block title %} Dokumente zur Sammlung hinzufügen {% endblock title %}

{% block content %}
    <h1>Dokumente hochladen</h1>
    <p>Hier können neue Dokumente der Sammlung hinzugefügt werden. Sofern Dateien aus dem lokalen Dateisystem hochgeladen werden, müssen sie in einer Zip-Datei zusammengefasst und als eine Datei hochgeladen werden. Dateien vom Server können direkt ausgelesen werden. Es können die Formate TXT, DOC, DOCX, PDF, HTM, HTML, PPTX, CSV, XLS und XLSX verarbeitet werden.</p><p>Der Upload-Vorgang nimmt besonders bei einer hohen Zahl von Dokumenten viel Zeit in Anspruch. Sobald er abgeschlossen ist, werden Sie zur Sammlung weitergeleitet.</p>

    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ upload_form }}
    <input class="btn btn-info" type="submit" value="Hochladen">
    </form>

{% endblock content %}

{% block javascript %}
    <script>
        $("<br/>").insertBefore("label");

        $("#id_remote").change(function() {
            $("remote_path").prop('disabled', function(i, v) { return !v; });
        });

    </script>

{% endblock javascript %}