{% extends "./basic_page.html" %}

{% load collection_tags %}

{% block title %}{{ collection.title }} - Statistische Analyse {% endblock title %}

{% block content %}

    <h1>{{ collection.title }} - Statistische Analyse </h1>

    <h3>Häufigste Begriffe</h3>
{#    {% get_highest_freq_words collection.id as freq_words %}#}
{#    {% include "./includes/frequent_words.html" with freq_words=freq_words %}#}
    {% get_highest_freq_words collection.id 250 as freq_words%}
    {% include "./includes/word_cloud.html" with data=freq_words %}
    <button class="btn btn-info" onclick="$('#freq_list').toggle();">Liste anzeigen</button>
    <div id="freq_list" style="display: none">
    {% include "./includes/frequent_words.html" with freq_words=freq_words %}
    </div>

    <h3>Häufigste N-Gramme</h3>
    {% if collection.ngrams.all|length == 0 %}
        {% find_ngrams collection %}
    {% endif %}
    {% include "./includes/ngrams.html" %}

    <h3>Häufigste Namen und Orte</h3>
    {% if collection.entities.all|length == 0 %}
        {% get_named_entities collection.id %}
    {% endif %}
    {% include "./includes/named_entities.html" with obj=collection %}

{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            var tables = $('table').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "searching": true,
                 "order": [[1, "desc"]]
            });
            console.log(tables);

            //gilt nur für diese seite und verschwindet be documents
            $("#nav_collection_id").val({{ collection.id }});
        });
    </script>
{% endblock javascript %}